src/main/mule/subflows/db-sub-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
		<flow name="db-sub-flowFlow" doc:id="27897c26-a83c-4822-be77-b1d9a379e3c8" >
		<logger level="INFO" doc:name="Logger" doc:id="50db65be-293a-4b6c-b053-753f7c935591" message="db-subflow- started with data  #[vars.transactionId] and #[payload] has been started"/>
		<db:insert doc:name="Insert" doc:id="4e85cf29-b58f-49a9-8a98-30f083f1d1d7" config-ref="Database_dev_config">
			<db:sql ><![CDATA[insert into dw_who_db 
(CASE_TYPE,
FIRST_NAME,
LAST_NAME,
PHONE,
EMAIL,
DATE_OF_BIRTH,
COUNTRY)
values
(:CASE_TYPE,
:FIRST_NAME,
:LAST_NAME,
:PHONE,
:EMAIL,
:DATE_OF_BIRTH,
:COUNTRY)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	CASE_TYPE: payload.CASE_TYPE,
	FIRST_NAME: payload.FIRST_NAME,
	LAST_NAME: payload.LAST_NAME,
	PHONE: payload.PHONE,
	EMAIL: payload.EMAIL,
	DATE_OF_BIRTH: payload.DATE_OF_BIRTH,
	COUNTRY: payload.COUNTRY
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="d23528ed-015b-4dc4-b762-9e6725a172bd" message="db-sub-flow-has been completed successfully"/>
	</flow>
</mule>
