src/main/mule/who-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="who-sapi-config" api="who-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="who-sapi-main" doc:id="def379ea-aabd-4ceb-a79d-1a127bd31268">
        <http:listener config-ref="HTTP_Listener_config" path="/v1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[attributes.headers.'x-transaction-id' default uuid()]" doc:name="Set Variable" doc:id="5005bb8a-6cf8-42f3-9ca7-3413f9cc4849" variableName="transactionId"/>
		<logger level="INFO" doc:name="Logger" doc:id="3c8af815-1234-468c-8718-7b4ebb74d740" message="flow has been started with payload equal to #[payload] and transactionId is equal to  #[vars.transactionId] "/>
		<apikit:router config-ref="who-sapi-config" />
	</flow>
    <flow name="post:\cases:application\json:who-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="3d89ab8b-eff6-4883-b9d1-77405d49a791" name="post-case-to-whoFlow"/>
    </flow>
</mule>
